.font-85 {
    font-size: 85% !important;
}
.font-90 {
    font-size: 90% !important;
}
.font-95 {
    font-size: 95% !important;
}
.opc-75 {
    opacity: .75 !important;
}
.opc-80 {
    opacity: .80 !important;
}
.opc-85 {
    opacity: .85 !important;
}

@media print {
    body , body>div, #app{
        background-color: white !important;
    }
}

    .guest-title { 
        width:100%; 
        text-align:center; 
        border-bottom: 1px solid #dee2e6; 
        line-height: 0.1em; margin:10px 0 20px; 
    } 
    .guest-title span { 
        background:#fff; 
        padding: 0 10px; 
    }